h2 {
    display: float;
    
}

.nav {
    display: inline-block;
    font-size: medium;
    background-color: #009fdc;

}


@media only screen and (max-width: 768px){


    #hamburger{
        display:block;
        float:right;
        padding: 12px;
        height: 55%;
        background-color: #e1dbe1;
    }

    header {
        height: 55px;
    }

    .nav {
        display: block;
        padding: 10px;
        width: 70%;
        font-size: small;
        background-color: #ebe8eb;
        text-decoration: none;
    }

    #mainNav {
        position:absolute;
        z-index: 1;
        right:10px;
        top:20px;
        text-decoration: none;
    }

    section {
        flex-direction: column;
    }

    .service {
        width: 95%;
    }

    .mainNav {
        height: 0;
        overflow: hidden;
    }

    .showNav {
        height: 300px;
    }

    a:hover {
        background-color: #f4f0f4;
    }

    #button {
        font-size: 10px;
    }

    label {
        font-size: 10px;
    }
}